body {
    margin: 0;
}

.navigationBar {
    overflow: hidden;
    background-color: gray;
}

.navigationBar a {
    float: left;
    color: white;
    text-align: center;
    padding: 10px 12px;
    text-decoration: none;
    font-size: 17px;
}

.unselectable {
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none; /* if not using a chronium browser */
    user-select: none;
}